/* $Revision:121 $ :encoding=UTF-8: */

/*** MERGE ME IN ORGANIC CSS  [BEGIN]  ***/
@import url('organic.css');
/*** MERGE ME IN ORGANIC CSS  [END]  ***/

.contacta {  }

.contactaDisabledTextBox { border:1px solid #b3b3b3; background: url("./buttons/background/validationInputDisabledBg.png") repeat-x top left; }
.ico10 { width:120px; height:120px; background:transparent url('./buttons/120/phone.png') no-repeat top left; }
.ico11 { width:120px; height:120px; background:transparent url('./buttons/120/person.png') no-repeat top left; }
.ico12 { width:120px; height:120px; background:transparent url('./buttons/120/person-n-phone.png') no-repeat top left; }
.ico13 { width:120px; height:120px; background:transparent url('./buttons/120/assign-phone.png') no-repeat top left; }

.icoMissedCalls { width:22px; height:22px; background:transparent url('./buttons/22/missedCalls.png') no-repeat top left; }

.adminTab { margin:auto; width:1000px; height:700px; }
.adminTabContent {  border:1px solid silver; width:1000px; height:700px; }

.statusPane {  border:1px solid silver; margin:2px 2px 2px 2px; padding:5px; }

.toolbar { height:34px; margin:0px; padding:2px 5px 2px 5px; background-color:#efefef; border-bottom:1px solid silver;}

.cal { display:block; margin:0px; width:70px; height:14px; background-color:#e0f6ed; border-bottom:1px dotted #ccc; border-right:1px dotted #ccc; text-align:center; vertical-align:middle; }
.cal_free  { background-color:#fbfbfb; border:1px solid silver; }
.cal_busy { background-color:#e0f6ed; border:1px solid #12c260; }
table.cal { border:0px; }
th div.cal  { background-color:#FFDDBF; height:30px; border-top:1px dotted #ccc; font-weight:bold; }
td div.hour { background-color:#fbfbfb; height:28px; border-right:1px dotted #ccc; border-bottom:1px dotted #ccc; border-left:1px dotted #ccc;  }

.booking { -moz-border-radius:8px; margin-bottom:10px; padding:1em; }
.booking_true  { background-color:#fbfbfb; border:1px solid silver; }
.booking_false { background-color:#e0f6ed; border:1px solid #12c260; }

